<div class="wrapper">
    <form class="entry-create" action="/create" method="post">
        <div class="create-header">
            Add New Entry
        </div>
        <div class="create-entryitem">
            <div class="create-entryitem-label">Name</div>
            <input type="text" class="create-entryitem-content" name="name" required/>
        </div>
        <div class="create-entryitem">
            <div class="create-entryitem-label">Telephone number</div>
            <input type="number" class="create-entryitem-content" name="telephoneNumber" required/>
        </div>
        <div class="create-entryitem">
            <div class="create-entryitem-label">Email address</div>
            <input type="email" class="create-entryitem-content" name="emailAddress" required/>
        </div>

        <div class="create-button-holder">
            <button type="submit" class="button">Add contact</button>
            <a type="button" href="/" class="button">Back</a>
        </div>
    </form>
</div>