<div class="wrapper">
    <form class="entry-create" action="/edit/{{mountaineer._id}}" method="post">
        <div class="create-header">
            Edit Entry
        </div>
        <div class="create-entryitem">
            <div class="create-entryitem-label">Name</div>
            <input type="text" class="create-entryitem-content" name="name" value="{{mountaineer.name}}"
                   required/>
        </div>
        <div class="create-entryitem">
            <div class="create-entryitem-label">Telephone</div>
            <input type="number" class="create-entryitem-content" name="telephoneNumber" value="{{mountaineer.telephoneNumber}}"
                   required/>
        </div>

        <div class="create-entryitem">
            <div class="create-entryitem-label">Email Address</div>
            <input type="email" class="create-entryitem-content" name="emailAddress"
                   value="{{mountaineer.emailAddress}}" required/>
        </div>

        <div class="create-button-holder">
            <button type="submit" class="button">Edit Contact</button>
            <a type="button" href="/" class="button">Back</a>
        </div>
    </form>
</div>