html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
    color: #790001;
}

body {
    color: white;

    /*font-family: 'Open Sans', sans-serif;*/
    /*color: #FFFFFF;*/
    /*background: linear-gradient(rgba(8, 93, 171, .4), rgba(8, 93, 171, .1)), url("../everest.png") no-repeat center;*/
    background: url("../telephone.jpg");
    /*height: 100%;*/
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    height: 100%;
}

.button {
    background: #d13c17cc;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #F0F5FC;
}

.button:hover {
    background: #ee5112;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #F0F5FC;
    font-weight: bold;
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.contactbutton {
    border-radius: 6px;
    border: 3px solid #F0F5FC;
    display: inline-block;
    cursor: pointer;
    color: #F0F5FC;
    font-size: 14px;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
}

.contactbutton:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    margin: 3% auto;
}

.wrapper > * {
    display: block;
    width: 100%;
    margin: 2% auto;
}

.wrapper .button-holder a[type="button"],
.wrapper .button-holder button {
    display: block;
    width: 18%;
    margin: auto;
    padding: 1.5% 1.5%;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.button-holder {
    margin: 2% auto;
}

body > div > div.button-holder > a > i {
    padding-right: 0.8em;
}

body > div > div.content > div.main > div > div.contact-item.contact-actions > a > i {
    padding-right: 0.3em;
}

.wrapper .button-holder a[type="button"]:hover,
.wrapper .button-holder button:hover {
    cursor: pointer;
    color: #F0F0F0;
}

.wrapper .main .button-holder a[type="button"]:hover,
.wrapper .button-holder button:focus {
    outline: none;
}

.searchBox {
    display: none;
}

.searchBox input {
    display: block;
    margin: 0 auto;
    padding-left: 3.5em;
    height: 4.5em;
}

.searchBox > i {
    position: absolute;
    top: 36.5%;
    left: 42%;
    color: #6e6c6c;
}

.content {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wrapper .content {
    display: block;
    width: 95%;
    border: 1px solid white;
    margin: auto;
    margin-top: 15px;
}

.content .header {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 4px solid white;
}

.main .contact {
    color: white;
    font-weight: 300;

}

.wrapper .content .header,
.wrapper .content .main {
    display: block;
    width: 100%;
    background-color: #d13c17cc;
}

.wrapper .content .header > * {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
    margin-left: 2%;
}

.wrapper .content .header .contact-label {
    width: 20%;
}

.wrapper .content .header .actions-label {
    width: 20%;
    text-align: center;
}

.wrapper .content .main .contact {
    display: block;
    width: 100%;
}

.wrapper .content .main .contact > * {
    display: inline-block;
    font-size: 1.5em;
    padding: 1%;
    margin-left: 2%;
}

.wrapper .content .main .contact .contact-title {
    width: 20%;
}

.wrapper .content .main .contact .contact-item {
    width: 20%;
}

.wrapper .content .main .contact .contact-actions {
    text-align: center;
}